.form__button {
  min-height: 46px;
  min-width: 238px;
  background: #000;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-weight: 400;
  margin: 21px 0 0;
  padding: 0;
}

@media screen and (min-width: 880px) {
  .form__button {
    min-height: 50px;
    min-width: 358px;
    margin-top: 9px;
  }
}

.form__button:hover {
  opacity: 0.8;
}


