.popup__container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    min-width: 282px;
    height: 322px;
    padding: 25px 22px;
    position:relative;
}